@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.about-us {
	background-image: radial-gradient(circle, rgba(67, 255, 102, 0.153) 0%, rgba(241, 245, 249, 0) 100%);
	background-size: 700px 200px;
}

@media (max-width: 768px) {
	.about-us {
		background-image: none;
	}
}

@media (min-width: 768px) {
	.p-hero {
		padding-top: 0 !important;
	}
}

.service {
	background: rgb(20, 16, 29);
	background: linear-gradient(180deg, rgba(57, 56, 62, 0.6) 0%, rgba(255, 255, 255, 0) 90%);
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hamRotate.active {
	transform: rotate(45deg);
}

.hamRotate180.active {
	transform: rotate(180deg);
}

.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #000;
	stroke-width: 5.5;
	stroke-linecap: round;
}

.ham * {
	stroke: white;
}

.ham .top {
	stroke-dasharray: 40 160;
}

.ham .middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 400ms;
}

.ham .bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham.active .top,
.ham.active .bottom {
	stroke-dashoffset: -64px;
}

.ham.active .middle {
	transform: rotate(90deg);
}

.module {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.not-available-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #1c1d1e;
	border-radius: 15px;
	width: 300px;
	height: 250px;
	z-index: 999;
	padding: 10px 20px;
}

.not-available-title {
	margin: 20px 0 10px 0;
	font-size: 1.3rem;
	text-align: center;
}

.not-available-button {
	margin-top: 70px;
	display: block;
	text-align: center;
	font-size: 1.1rem;
	cursor: pointer;
	background-color: #e3e8e2;
	border-radius: 7px;
	padding: 7px 10px;
}

@media only screen and (max-width: 768px) {
	.not-available-container {
		width: 250px;
	}

	.not-available-button {
		margin-top: 40px;
	}
}

.close {
	display: block;
	text-align: right;
	color: #fff;
	margin: 0;
}

.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
}
