@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.about-us {
	background-image: radial-gradient(circle, rgba(67, 255, 102, 0.153) 0%, rgba(241, 245, 249, 0) 100%);
	background-size: 700px 200px;
}

@media (max-width: 768px) {
	.about-us {
		background-image: none;
	}
}

.service {
	background: rgb(20, 16, 29);
	background: linear-gradient(180deg, rgba(57, 56, 62, 0.6) 0%, rgba(255, 255, 255, 0) 90%);
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hamRotate.active {
	transform: rotate(45deg);
}

.hamRotate180.active {
	transform: rotate(180deg);
}

.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #000;
	stroke-width: 5.5;
	stroke-linecap: round;
}

.ham * {
	stroke: white;
}

.ham .top {
	stroke-dasharray: 40 160;
}

.ham .middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 400ms;
}

.ham .bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham.active .top,
.ham.active .bottom {
	stroke-dashoffset: -64px;
}

.ham.active .middle {
	transform: rotate(90deg);
}
